[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "vim/bundle/SimpylFold"]
	path = vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "vim/bundle/vim-buftabline"]
	path = vim/bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/bundle/golden-ratio"]
	path = vim/bundle/golden-ratio
	url = https://github.com/roman/golden-ratio
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = https://github.com/gbraekmans/badwolf
